<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /Greyhound/
	RedirectMatch permanent ^/Greyhound/www/home.php /Greyhound/www/
	RewriteRule ^([a-z]+)/([a-z\-]+)$ /Greyhound/$1/$2.php [L]
</IfModule>